{% extends "base.html" %}
{% block body %}

<div class="auth-box">
    <h3>Forgot your password?</h3>
    <p style="color: var(--slate); font-size: 0.9rem; margin-top: 5px; margin-bottom: 20px;">
        Enter your registered email and we’ll send you a reset link.
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="id_email">Email Address</label>
            {{ form.email }}
        </div>

        <button type="submit" class="btn-block" style="margin-top:15px; width: 100%;">
            Send Reset Link
        </button>
        
        <div class="divider-text">
            <span>OR</span>
        </div>
        
        <div style="text-align: center;">
            <a href="{% url 'login' %}" style="color: var(--primary); text-decoration: none; font-weight: 600; font-size: 0.9rem;">
                Back to Login
            </a>
        </div>
    </form>
</div>

{% endblock %}